body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10em 2em 10em 2em;
  border: 1px solid black;
}

button {
  background-color: #0c80f3;
  border: 6px solid #0ff166;
  border-radius: 10px;
  width: 150px;
}

select {
  display: block;
  margin-bottom: 20px;
}
